{{#> header }}
<link rel="stylesheet" href="/css/forum.css">
{{/header}}

{{#> layout title="Forum"}}
{{#*inline "page_content"}}
<div class="forum-container">
    <h1>Community Forum</h1>
    
    {{#if error}}
        <div class="error-message">
            <p>{{error}}</p>
        </div>
    {{/if}}
    
    {{#if message}}
        <div class="success-message">
            <p>{{message}}</p>
        </div>
    {{/if}}

    <div class="create-post-button">
        <a href="/forum/create" class="btn">
            Create New Post
        </a>
    </div>

    <div class="posts-list">
        {{#each posts}}
        <div class="post-card">
            <h2><a href="/forum/{{this.id}}">{{this.title}}</a></h2>
            <div class="post-meta">
                Posted on {{format_date this.created_at}}
            </div>
            <div class="post-preview">
                {{truncate this.content 200}}
            </div>
        </div>
        {{else}}
        <div class="no-posts-message">
            <p>No posts yet. Be the first to create one!</p>
        </div>
        {{/each}}
    </div>

    {{#if pagination}}
    <div class="pagination">
        {{#if (gt pagination.current_page 1)}}
            <a href="/forum?page={{subtract pagination.current_page 1}}" class="pagination-link">&laquo; Previous</a>
        {{/if}}
        
        <span class="pagination-info">
            Page {{pagination.current_page}} of {{pagination.total_pages}}
            {{#if pagination.total_items}}
            ({{pagination.total_items}} post{{#if (gt pagination.total_items 1)}}s{{/if}})
            {{/if}}
        </span>
        
        {{#if (lt pagination.current_page pagination.total_pages)}}
            <a href="/forum?page={{add pagination.current_page 1}}" class="pagination-link">Next &raquo;</a>
        {{/if}}
    </div>
    {{/if}}
</div>
{{/inline}}
{{/layout}}
